.station-layout{
  padding: 60px;
  .col-md-3{
    img{
      width: 100%;
    }
  }
  .form-control{
    box-shadow: none;
    border: 1px solid #eeeeee;
    height: 45px;
    margin-bottom: 15px;
    color: #000;
  }
  select{
    box-shadow: none;
    border: 1px solid #eeeeee;
    height: 45px;
    margin-bottom: 15px;
    color: #000;
  }
  .cover-station{
    background: #fff;
    padding: 15px 0;
    border-radius: 5px;
    margin-bottom: 5px;
    .col-md-5{
      h3{
        text-align: center;
      }
    }
  }
  .checkbox{
    margin-bottom: 20px;
  }
  h3{
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 0;
  }
  h4{
    font-size: 14px;
    font-weight: bold;
  }
  .col-md-12{
    padding: 20px 0;
    thead{
      background: #E7F0F8;
    }
    .table > thead > tr > th {
      vertical-align: middle;
      border-bottom: none;
      font-weight:500;
      color: #000000;
      padding: 15px;
    }
    .table > tbody > tr > td{
      padding: 15px;
      vertical-align: middle;
      border-top: none;
      background: #fff;
      border-bottom: 1px solid #f2f2f2;
      color: #000000;
      &:hover{
        img{
          opacity: 1;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
        }
      }
      img{
        opacity: 0.4;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
      }
    }
  }

  .pager{
    text-align: center;
    li>{
      a{
        display: inline-block;
        padding: 5px 14px;
        background-color: #fff;
        border: none;
        border-radius: 4px;
        color: #AEAEAE;
        margin: 0 1px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        &:hover{
          background: #DFE8FC;
          color: #414243;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
        }
      }
    }
  }

  .drop-more{
    background: transparent;
    border: none;
  }
  .btn-details{
    button{
      background: transparent;
      border: none;
      display: block;
      width: 100%;
      padding: 10px 5px;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      &:hover{
        background: #f9f9f9;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
      }
    }
  }

  .thumbail-station{
    img{
      width: 100px;
      opacity: 1 !important;
    }
  }
  .table-responsive{
    overflow-x: initial;
  }
}
