<section class="login-component" *blockUI="'login-view'">
  <div class="login">
    <div class="row">
      <div class="col-md-6 colfirts">
        <img  src="../assets/images/terra_logo.png" alt="">
        <!--h2>Iniciar Sesión</h2-->
        <input type="mail" name="" value="" placeholder="Email" class="form-control" >
        <input type="password" name="" value="" placeholder="Contraseña" class="form-control" >
        <div class="row">
          <div class="col-md-12">
              <a  routerLink="/dashboard" routerLinkActive="active">Olvidé la contraseña</a>
          </div>
        </div>
        <button type="button" name="button" class="btn" >Iniciar Sesión</button>
      </div>
      <div class="col-md-6 col-bg">

      </div>
    </div>
  </div>
</section>
