<div class="header">
  <app-header id="header"></app-header>
</div>
<section class="work-grid">
  <div class="row">
    <div class="col-md-4">
      <a routerLink="/project-detail">
        <img src="./assets/images/Moment_Factory_Signature_Shows_Regalia_3817-WS-960x640.jpeg" alt="">
      </a>
    </div>
    <div class="col-md-4">
      <a href="#">
        <img src="./assets/images/Moment_Factory_Signature_Shows_Regalia_3817-WS-960x640.jpeg" alt="">
      </a>
    </div>
    <div class="col-md-4">
      <a href="#">
        <img src="./assets/images/Moment_Factory_Signature_Shows_Regalia_3817-WS-960x640.jpeg" alt="">
      </a>
    </div>
    <div class="col-md-12">
      <a href="#">
        <img src="./assets/images/Moment_Factory_Signature_Shows_25_SuperReal_D7A1668-WS.jpeg" alt="">
      </a>
    </div>
  </div>
</section>