<div class="header">
  <app-header id="header"></app-header>
</div>
<section class="cover">
  <video class="object-fit onplay" data-width="640" data-height="360" playsinline="" preload="" loop="" muted=""
    autoplay>
    <source
      src="https://player.vimeo.com/external/569515913.hd.mp4?s=6cb658912b628ce8b15f625306fb4ecf4549ca53&amp;profile_id=175"
      type="video/mp4">
  </video>
</section>

<section class="work-grid">
  <div class="row">
    <div class="info-project">
      <div class="col-md-6">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a nisl gravida, placerat libero sit amet,
          aliquam
          felis. </h4>
      </div>
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a nisl gravida, placerat libero sit amet,
          aliquam
          felis. Suspendisse tortor massa, rhoncus a sagittis eget, bibendum nec ex. Donec venenatis turpis odio, non
          aliquet lorem finibus id. Maecenas vitae dignissim enim. Phasellus id enim blandit, sollicitudin nisi at,
          eleifend enim. Proin nulla lectus, porta ut leo a, tristique fringilla ante. Ut vel dictum nisl, eu tristique
          augue.

          Maecenas gravida massa nisl, ac sodales ipsum cursus eget. Aliquam volutpat non arcu tincidunt maximus. Donec
          interdum quis neque vel efficitur.</p>
      </div>
    </div>
    <div class="col-md-4">

      <img src="./assets/images/Moment_Factory_Signature_Shows_Regalia_3817-WS-960x640.jpeg" alt="">

    </div>
    <div class="col-md-4">

      <img src="./assets/images/Moment_Factory_Signature_Shows_Regalia_3817-WS-960x640.jpeg" alt="">

    </div>
    <div class="col-md-4">

      <img src="./assets/images/Moment_Factory_Signature_Shows_Regalia_3817-WS-960x640.jpeg" alt="">

    </div>
    <div class="col-md-12">

      <img src="./assets/images/Moment_Factory_Signature_Shows_25_SuperReal_D7A1668-WS.jpeg" alt="">

    </div>
  </div>
</section>