<section class="content-box">
  <app-sidebar id="sidebar"></app-sidebar>
  <app-header id="header"></app-header>
  <div class="request-detail">
    <div class="row">
      <div class="col-md-12">
        <div class="box-company">
          <div class="name-company">
            <h3>Detalle de tracking</h3>
          </div>
          <div class="detail-company">
            <div class="row">
              <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="firstcol">Estación:</td>
                        <td>UNO zona 10</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Marker: </td>
                        <td>Puma zona 10</td>
                      </tr>

                      <tr>
                        <td class="firstcol">Ubicación:</td>
                        <td>19 Calle 5-47, Cdad. de Guatemala 01010</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Hora:</td>
                        <td>12:20 hrs.</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Fecha:</td>
                        <td>12/12/2021</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="firstcol">Tracking:</td>
                      <td>Carlos Pérez</td>
                    </tr>
                    <tr>
                      <td class="firstcol">TM:</td>
                      <td>Ricardo Torres</td>
                    </tr>
                    <tr>
                      <td class="firstcol">Trade Area:</td>
                      <td>23ST3</td>
                    </tr>
                    <tr>
                      <td class="firstcol">Dealer:</td>
                      <td>Si</td>
                    </tr>
                    <tr>
                      <td class="firstcol">Estado:</td>
                      <td>Aprobado</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-company">
          <div class="name-company">
            <h3>Auto Servicio</h3>
          </div>
          <div class="detail-company">
            <div class="row">
              <div class="col-md-6 photos-tracking"> <img src="../assets/images/uno.jpg" alt=""> </div>
              <div class="col-md-6 photos-tracking"><img src="../assets/images/puma.jpg" alt=""> </div>
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-left">Propia</th>
                        <th class="text-center">Diferencial</th>
                        <th class="text-right">Marker</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-left"><p> Vpower:</p> Q 27.00</td>
                        <td class="text-center positive">+ Q 2.00</td>
                        <td class="text-right"><p> Vpower:</p> Q 25.00</td>
                      </tr>
                      <tr>
                        <td class="text-left"><p> Super:</p> Q 26.50</td>
                        <td class="text-center positive">+ Q 0.50</td>
                        <td class="text-right"><p> Super:</p> Q 26.00</td>
                      </tr>
                      <tr>
                        <td class="text-left"><p> Regular:</p> Q 23.20</td>
                        <td class="text-center negative">- Q 0.80</td>
                        <td class="text-right"><p> Regular:</p> Q 24.00</td>
                      </tr>
                      <tr>
                        <td class="text-left"><p> Diesel: </p> Q 19.25</td>
                        <td class="text-center"> Q 0.00</td>
                        <td class="text-right"><p> Diesel:</p> Q 19.25</td>
                      </tr>


                    </tbody>
                  </table>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box-company">
          <div class="name-company">
            <h3>Servicio Completo</h3>
          </div>
          <div class="detail-company">
            <div class="row">
              <div class="col-md-6 photos-tracking"> <img src="../assets/images/uno.jpg" alt=""> </div>
              <div class="col-md-6 photos-tracking"><img src="../assets/images/puma.jpg" alt=""> </div>
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-left">Propia</th>
                        <th class="text-center">Diferencial</th>
                        <th class="text-right">Marker</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-left"><p> Vpower:</p> Q 27.00</td>
                        <td class="text-center positive">+ Q 2.00</td>
                        <td class="text-right"><p> Vpower:</p> Q 25.00</td>
                      </tr>
                      <tr>
                        <td class="text-left"><p> Super:</p> Q 26.50</td>
                        <td class="text-center positive">+ Q 0.50</td>
                        <td class="text-right"><p> Super:</p> Q 26.00</td>
                      </tr>
                      <tr>
                        <td class="text-left"><p> Regular:</p> Q 23.20</td>
                        <td class="text-center negative">- Q 0.80</td>
                        <td class="text-right"><p> Regular:</p> Q 24.00</td>
                      </tr>
                      <tr>
                        <td class="text-left"><p> Diesel: </p> Q 19.25</td>
                        <td class="text-center"> Q 0.00</td>
                        <td class="text-right"><p> Diesel:</p> Q 19.25</td>
                      </tr>


                    </tbody>
                  </table>

                </div>
                

              </div>
            </div>
          </div>
        </div>
      </div>




    </div>

  </div>
</section>
