<section class="content-box">
  <app-sidebar id="sidebar"></app-sidebar>
  <app-header id="header"></app-header>
  <div class="request-detail">
    <div class="row">
      <div class="col-md-12">
        <div class="box-company">
          <div class="name-company">
            <h3>Detalle de Solicitud</h3>
          </div>
          <div class="detail-company">
            <div class="row">
              <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="firstcol">Solicitante:</td>
                        <td>Ricardo Pérez</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Fecha de Carga: </td>
                        <td>12/12/2021</td>
                      </tr>
                      <tr>
                        <td class="firstcol">CIF/FOB:</td>
                        <td>FOB</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Fecha de Solicitud:</td>
                        <td>12/12/2021</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Hora de Solicitud:</td>
                        <td>12:20 hrs.</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="firstcol">Empresa:</td>
                      <td>Campero S.A.</td>
                    </tr>
                    <tr>
                      <td class="firstcol">Código ST:</td>
                      <td>1233D</td>
                    </tr>
                    <tr>
                      <td class="firstcol">Sucursal:</td>
                      <td>Campero Zona 10</td>
                    </tr>
                    <tr>
                      <td class="firstcol">Código ST:</td>
                      <td>123D</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="box-company">
          <div class="name-company">
            <h3>Precios por Productos</h3>
          </div>
          <div class="detail-company">
            <div class="row">
              <!--div class="col-md-6 photos-tracking"> <img src="../assets/images/uno.jpg" alt=""> </div>
              <div class="col-md-6 photos-tracking"><img src="../assets/images/puma.jpg" alt=""> </div-->
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="firstcol">Super:</td>
                        <td>Q 27.00</td>
                        <td><input type="number" placeholder="Q 27.00" class="form-control"> </td>
                      </tr>
                      <tr>
                        <td class="firstcol">Regular:</td>
                        <td>Q 25.00</td>
                        <td><input type="text" placeholder="Q 25.00" class="form-control"> </td>
                      </tr>
                      <tr>
                        <td class="firstcol">Diesel:</td>
                        <td>Q 18.00</td>
                        <td><input type="number" placeholder="Q 18.00" class="form-control"> </td>
                      </tr>
                      <tr>
                        <td class="firstcol">Fuel Oil:</td>
                        <td>Q 20.00</td>
                        <td><input type="number" placeholder="Q 20.00" class="form-control"> </td>
                      </tr>
                      <tr>
                        <td class="firstcol">ULSD:</td>
                        <td>Q 22.00</td>
                        <td><input type="number" placeholder="Q 22.00" class="form-control"> </td>
                      </tr>

                    </tbody>
                  </table>

                </div>
                <h4>Agregar Comentarios</h4>
                <textarea name="name" rows="8" cols="80" class="coments"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
      <button type="button" class="btn btn-outline-primary calendar-header" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseOne">
      <h4>Referencias</h4>
      <img src="../assets/images/arrowdown.svg" class="arrow-one" alt="">
      </button>

      <div id="collapseOne" [ngbCollapse]="isCollapsed">
         <div class="card">
            <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="box-company">
                      <div class="name-company">
                        <h3>Puma</h3>
                      </div>
                      <div class="detail-company">
                        <div class="row">
                          <!--div class="col-md-6 photos-tracking"> <img src="../assets/images/uno.jpg" alt=""> </div>
                          <div class="col-md-6 photos-tracking"><img src="../assets/images/puma.jpg" alt=""> </div-->
                          <div class="col-md-12">
                            <div class="table-responsive">
                              <table class="table">
                                <tbody>
                                  <tr>
                                    <td class="firstcol">Super:</td>
                                    <td>Q 27.00</td>
                                  </tr>
                                  <tr>
                                    <td class="firstcol">Regular:</td>
                                    <td>Q 25.00</td>
                                  </tr>
                                  <tr>
                                    <td class="firstcol">Diesel:</td>
                                    <td>Q 18.00</td>
                                  </tr>
                                  <tr>
                                    <td class="firstcol">Fuel Oil:</td>
                                    <td>Q 20.00</td>
                                  </tr>
                                  <tr>
                                    <td class="firstcol">ULSD:</td>
                                    <td>Q 22.00</td>
                                  </tr>

                                </tbody>
                              </table>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="box-company">
                      <div class="name-company">
                        <h3>Texaco</h3>
                      </div>
                      <div class="detail-company">
                        <div class="row">
                          <!--div class="col-md-6 photos-tracking"> <img src="../assets/images/uno.jpg" alt=""> </div>
                          <div class="col-md-6 photos-tracking"><img src="../assets/images/puma.jpg" alt=""> </div-->
                          <div class="col-md-12">
                            <div class="table-responsive">
                              <table class="table">
                                <tbody>
                                  <tr>
                                    <td class="firstcol">Super:</td>
                                    <td>Q 27.00</td>
                                  </tr>
                                  <tr>
                                    <td class="firstcol">Regular:</td>
                                    <td>Q 25.00</td>
                                  </tr>
                                  <tr>
                                    <td class="firstcol">Diesel:</td>
                                    <td>Q 18.00</td>
                                  </tr>
                                  <tr>
                                    <td class="firstcol">Fuel Oil:</td>
                                    <td>Q 20.00</td>
                                  </tr>
                                  <tr>
                                    <td class="firstcol">ULSD:</td>
                                    <td>Q 22.00</td>
                                  </tr>

                                </tbody>
                              </table>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
         </div>
      </div>
      </div>
      <div class="col-md-12">

      <button type="button" name="button" class="btn-daiso">Aprobar Solicitud</button>
      <button type="button" name="button" class="btn-gray">No Aprobar Solicitud</button>
      </div>
    </div>

</div>
</section>
