<section class="content-box">
  <app-sidebar id="sidebar"></app-sidebar>
  <app-header id="header"></app-header>
  <div class="branch-container">
    <div class="title-view">
      <h3><span>  <img src="../assets/images/tracking.svg" alt=""> </span>  Historial de Tracking</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="text" name="" value="" class="form-control" placeholder="Buscar">
        <button type="button" name="button" class="btn-daiso search-btn"><img src="../assets/images/search.svg" alt=""> </button>
      </div>
      <div class="col-md-6 filters">

      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Estación</th>
                <th>Marker</th>
                <th>Tracking</th>
                <th>TM</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Uno zona 10</td>
                <td>Puma zona 10</td>
                <td>Luis Pérez</td>
                <td>Carlos Torres</td>
                <td>10:00 hrs.</td>
                <td>12/12/2021</td>
                <td>
                  <div ngbDropdown class="d-inline-block btn-details">
                    <button class="drop-more" id="dropdownBasic1" ngbDropdownToggle><img src="../assets/images/edit.svg" alt=""></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/tracking-detail" routerLinkActive="active">Ver detalles</button>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>Uno zona 10</td>
                <td>Puma zona 10</td>
                <td>Luis Pérez</td>
                <td>Carlos Torres</td>
                <td>10:00 hrs.</td>
                <td>12/12/2021</td>
                <td>
                  <div ngbDropdown class="d-inline-block btn-details">
                    <button class="drop-more" id="dropdownBasic1" ngbDropdownToggle><img src="../assets/images/edit.svg" alt=""></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/tracking-detail" routerLinkActive="active">Ver detalles</button>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>Uno zona 10</td>
                <td>Puma zona 10</td>
                <td>Luis Pérez</td>
                <td>Carlos Torres</td>
                <td>10:00 hrs.</td>
                <td>12/12/2021</td>
                <td>
                  <div ngbDropdown class="d-inline-block btn-details">
                    <button class="drop-more" id="dropdownBasic1" ngbDropdownToggle><img src="../assets/images/edit.svg" alt=""></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/tracking-detail" routerLinkActive="active">Ver detalles</button>
                    </div>
                  </div>
                </td>
              </tr>


              <tr>
                <td>Uno zona 10</td>
                <td>Puma zona 10</td>
                <td>Luis Pérez</td>
                <td>Carlos Torres</td>
                <td>10:00 hrs.</td>
                <td>12/12/2021</td>
                <td>
                  <div ngbDropdown class="d-inline-block btn-details">
                    <button class="drop-more" id="dropdownBasic1" ngbDropdownToggle><img src="../assets/images/edit.svg" alt=""></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/tracking-detail" routerLinkActive="active">Ver detalles</button>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>Uno zona 10</td>
                <td>Puma zona 10</td>
                <td>Luis Pérez</td>
                <td>Carlos Torres</td>
                <td>10:00 hrs.</td>
                <td>12/12/2021</td>
                <td>
                  <div ngbDropdown class="d-inline-block btn-details">
                    <button class="drop-more" id="dropdownBasic1" ngbDropdownToggle><img src="../assets/images/edit.svg" alt=""></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/tracking-detail" routerLinkActive="active">Ver detalles</button>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>Uno zona 10</td>
                <td>Puma zona 10</td>
                <td>Luis Pérez</td>
                <td>Carlos Torres</td>
                <td>10:00 hrs.</td>
                <td>12/12/2021</td>
                <td>
                  <div ngbDropdown class="d-inline-block btn-details">
                    <button class="drop-more" id="dropdownBasic1" ngbDropdownToggle><img src="../assets/images/edit.svg" alt=""></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/tracking-detail" routerLinkActive="active">Ver detalles</button>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>Uno zona 10</td>
                <td>Puma zona 10</td>
                <td>Luis Pérez</td>
                <td>Carlos Torres</td>
                <td>10:00 hrs.</td>
                <td>12/12/2021</td>
                <td>
                  <div ngbDropdown class="d-inline-block btn-details">
                    <button class="drop-more" id="dropdownBasic1" ngbDropdownToggle><img src="../assets/images/edit.svg" alt=""></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/tracking-detail" routerLinkActive="active">Ver detalles</button>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>Uno zona 10</td>
                <td>Puma zona 10</td>
                <td>Luis Pérez</td>
                <td>Carlos Torres</td>
                <td>10:00 hrs.</td>
                <td>12/12/2021</td>
                <td>
                  <div ngbDropdown class="d-inline-block btn-details">
                    <button class="drop-more" id="dropdownBasic1" ngbDropdownToggle><img src="../assets/images/edit.svg" alt=""></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/tracking-detail" routerLinkActive="active">Ver detalles</button>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>Uno zona 10</td>
                <td>Puma zona 10</td>
                <td>Luis Pérez</td>
                <td>Carlos Torres</td>
                <td>10:00 hrs.</td>
                <td>12/12/2021</td>
                <td>
                  <div ngbDropdown class="d-inline-block btn-details">
                    <button class="drop-more" id="dropdownBasic1" ngbDropdownToggle><img src="../assets/images/edit.svg" alt=""></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/tracking-detail" routerLinkActive="active">Ver detalles</button>
                    </div>
                  </div>
                </td>
              </tr>



            </tbody>
          </table>
        </div>


        <nav aria-label="Page navigation" class="pager">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
