<section class="content-box">
  <app-sidebar id="sidebar"></app-sidebar>
  <app-header id="header"></app-header>
  <div class="dashboard-container">
    <div class="row">
      <h2>¡Hola! estas son tus pendientes</h2>
      <div class="col-md-9">
        <div class="next-events">
          <div class="header-next">
            <h3>Solicitudes Comerciales</h3>
          </div>
          <div class="events-c">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Solicitante</th>
                  <th>Empresa</th>
                  <th>Hora</th>
                  <th>Fecha</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ricardo Perez</td>
                  <td>Campero S.A.</td>
                  <td>15:00 hrs.</td>
                  <td>12/12/2021</td>
                  <td><a href="#">Ver Detalles</a></td>
                </tr>
                <tr>
                  <td>Ricardo Perez</td>
                  <td>Campero S.A.</td>
                  <td>15:00 hrs.</td>
                  <td>12/12/2021</td>
                  <td><a href="#">Ver Detalles</a></td>
                </tr>
                <tr>
                  <td>Ricardo Perez</td>
                  <td>Campero S.A.</td>
                  <td>15:00 hrs.</td>
                  <td>12/12/2021</td>
                  <td><a href="#">Ver Detalles</a></td>
                </tr>


              </tbody>
            </table>
          </div>
            <a routerLink="/create-contacts" routerLinkActive="active" class="btn-daiso">Ver Todos</a>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="indicators">
          <h3>Estaciones</h3>
          <div class="row">
            <div class="col-md-6">
              <h4>Propias</h4>
              <h2>200</h2>
            </div>
            <div class="col-md-6">
              <h4>Markers</h4>
              <h2>200</h2>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="indicators requested-pending">
          <h3>Solicitudes sin procesar</h3>
          <div class="row">
            <div class="col-md-6">
              <h4>Comercial</h4>
              <h2>200</h2>
            </div>
            <div class="col-md-6">
              <h4>Retail</h4>
              <h2>200</h2>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-9">
        <div class="next-events">
          <div class="header-next">
            <h3>Solicitudes Retail</h3>
          </div>
          <div class="events-c">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Estación</th>
                  <th>Marker</th>
                  <th>Tracking</th>
                  <th>TM</th>
                  <th>Hora</th>
                  <th>Fecha</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Uno zona 10</td>
                  <td>Puma zona 10</td>
                  <td>Luis Perez</td>
                  <td>Carlos Torres</td>
                  <td>10:00 hrs.</td>
                  <td>12/12/2020</td>
                  <td><a href="#">Ver Detalles</a></td>
                </tr>
                <tr>
                  <td>Uno zona 10</td>
                  <td>Puma zona 10</td>
                  <td>Luis Perez</td>
                  <td>Carlos Torres</td>
                  <td>10:00 hrs.</td>
                  <td>12/12/2020</td>
                  <td><a href="#">Ver Detalles</a></td>
                </tr>
                <tr>
                  <td>Uno zona 10</td>
                  <td>Puma zona 10</td>
                  <td>Luis Perez</td>
                  <td>Carlos Torres</td>
                  <td>10:00 hrs.</td>
                  <td>12/12/2020</td>
                  <td><a href="#">Ver Detalles</a></td>
                </tr>

                <tr>
                  <td>Uno zona 10</td>
                  <td>Puma zona 10</td>
                  <td>Luis Perez</td>
                  <td>Carlos Torres</td>
                  <td>10:00 hrs.</td>
                  <td>12/12/2020</td>
                  <td><a href="#">Ver Detalles</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <a routerLink="/create-contacts" routerLinkActive="active" class="btn-daiso">Ver Todos</a>
          </div>
        </div>
      </div>


      <div class="col-md-3"></div>
    </div>
  </div>
</section>
